{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "xmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.xml",
      "options": {
        "printWidth": 150
      }
    }
  ]
}
